<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Traoùvé{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% block header %}

    <div class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a class="navbar-brand" href="{{ path('homepage') }}">
        <span class="fa-stack fa-lg text-primary">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
        </span>
                Traoùvé
            </a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ path('homepage') }}">Accueil</a>
            {% if app.user %}
                <a class="p-2 text-dark" href="{{ path('traobject_new') }}">Déposer une annonce</a>
            {% endif %}
            <a class="p-2 text-dark" href="{{ path('traobjects_lost') }}">Objets perdus</a>
            <a class="p-2 text-dark" href="{{ path('traobjects_found') }}">Objets trouvés</a>
        </nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="btn btn-success mr-3">Interface d'administration</a>
        {% endif %}
        {% if app.user %}
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
                {{ app.user.email }}
            </a>
        {% else %}
            <a class="btn btn-outline-primary mr-2" href="{{ path('user_registration') }}">
                <i class="fa fa-user-plus"></i>
                Créer un compte
            </a>
            <a class="btn btn-outline-primary" href="{{ path('app_login') }}">
                <i class="fa fa-user"></i>
                Connexion
            </a>
        {% endif %}
        <ul class="dropdown-menu">
            {% if app.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="fa fa-sign-out"></i>
                        Se déconnecter
                    </a>
                </li>
            {% endif %}

        </ul>

    </div>

{% endblock %}

<main class="main-content">
    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <h5 class="my-0 mr-md-auto font-weight-normal">
                        <a class="navbar-brand" href="{{ path('homepage') }}">

                    <span class="fa-stack fa-lg text-primary">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                            Traoùvé
                        </a>
                    </h5>
                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    {{ render(controller('App\\Controller\\CategoryController::footerCategory')) }}
                </div>
                <div class="col-6 col-md">
                    {{ render(controller('App\\Controller\\CountyController::footerCounty')) }}
                </div>
                <div class="col-6 col-md">
                    <h5>Notre entreprise</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Equipe</a></li>
                        <li><a class="text-muted" href="#">Contact</a></li>
                        <li><a class="text-muted" href="#">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
{% block javascripts %}

    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>
