{% extends 'base.html.twig' %}

{% block title %}Traobject{% endblock %}

{% block body %}

    <main class="main-content">

        <div class="container">
            <div class="card object-card">
                <h1 class="card-header">
                <span class="badge badge-primary badge-found" style="background-color: {{ traobject.state.color }}">
                    <i class="fa fa-map-pin"></i>
                    {{ traobject.state.label }}
                </span>
                    {{ traobject.title }}
                </h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {% if traobject.picture != null %}

                                <img src="{{ asset('uploads/' ~ traobject.picture) }}" class="img-thumbnail"
                                     alt="{{ traobject.picture }}">
                            {% else %}
                                <div class="card-logo-top" style="background-color: {{ traobject.category.color }}">
                                    <i class="fa {{ traobject.category.icon }}"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <p>{{ traobject.description }}</p>
                            <a href="#" class="badge badge-info"><i
                                        class="fa fa-user"></i> {{ traobject.user.fullname }}
                            </a>

                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <ul class="object-features">
                        <li>
                            <a href="{{ path('category_show', {'id': traobject.category.id}) }}" class="badge" style="background-color: {{ traobject.category.color }};">
                                <i class="fa {{ traobject.category.icon }}"></i> {{ traobject.category.label }}</a>
                        </li>
                        <li>
                            <a href="#" class="badge badge-info"><i class="fa fa-calendar"></i> {{ traobject.eventAt|date('d/m/y') }}</a>
                        </li>
                        <li>
                            <a href="#" class="badge badge-info"><i class="fa fa-map-marker"></i> {{ traobject.city }}</a>
                        </li>
                    </ul>
                </footer>
            </div>

            <hr>

            <h3>Commentaires</h3>
            {% if app.user %}
                <div>
                    <img class="mb-3" src="{{ asset('uploads/user/' ~ app.user.picture) }}" alt="{{ app.user.picture }}"
                         style="max-height: 100px">
                </div>
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    <p>Veuillez vous connecter afin de pouvoir laisser un commentaire</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i>
                        Me connecter
                    </a>
                </div>
            {% endif %}

            <ul class="list-unstyled">
                {% for comment in comments %}
                    <li class="media mb-1">
                        <img class="mr-3" src="{{ asset('uploads/user/' ~ comment.user.picture) }}"
                             alt="{{ comment.user.picture }}" style="max-height: 100px">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{ comment.user.fullname }}</h5>
                            <p>{{ comment.content }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </main>

{% endblock %}